{% extends '/base.html.twig' %}

{% block body %}
    <span>Bonjour {{ username }}, votre demande de réinitialisation de mot de passe a bien été prise en compte.</span>
    <p>Pour réinitialiser votre mot de passe, il vous suffit de cliquer sur <a href="{{ redirect_url }}">ce lien : {{ redirect_url }}</a></p>
{% endblock %}
